.blog_main_container {
  display: grid;
  grid-template-columns: 10% 85%;
  gap: 40px;
  margin: 140px 120px;
}
.catagory_nav_menu ul li {
  list-style: none;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}
.catagory_nav_menu ul li:not(:first-child) {
  margin: 20px 0;
}
.active {
  color: #fff !important;
  background: #fd7e14;
  border-radius: 5px;
}
.blog_title {
  font-size: 26px;
  font-weight: bold;
  color: #fd7e14;
}
.blogcartcontainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blog_cart_container p {
  margin-top: 7px;
}
.travel_clocation {
  text-transform: uppercase;
  font-weight: bold;
}
.travel_clocation strong {
  color: #fd7e14;
}
.blog_cart_container h5 {
  font-size: 17px;
  margin-top: 3px;
  font-weight: 600;
}

.pagination_container {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.pagination_item {
  background-color: #804747;
  padding: 6px 14px;
  margin-left: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.pagination_active_item {
  background-color: rgb(59, 5, 126);
}

/* archive page style  */
.archive_top_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}
.archive_container {
  display: grid;
  grid-template-columns: 77% 20%;
  gap: 40px;
 
}
.archive_product_img {
  width: 100%;
  
}
.archive_titel{
 padding: 30px 0px;
}
.archive_titel h1{
  font-size: 40px;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.archive_description{
  font-size: 20px;
  line-height: 40px;
}
/* comment posts  */
.post_comment{
  margin: 20px 0;
  font-size: 40px;
  color: #141313
}
.comment_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.comment_info_container{
  background: #fff;
  border: 1px solid #efefef;
  border-left: 5px;
  border-left: 8px solid #efefef;
  position: relative;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.form_control{
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #202020;
  margin-bottom: 30px;
}
.form_control:focus{
  outline: none;
}

.form_control_textarea{
  padding: 15px 20px;
  width: 850px;
  height:150px;
  border: 1px solid #242323;
  margin-bottom: 20px;
}
.form_control_textarea:focus{
  outline: none;
}
.form_submit_btn{
  color: #fff;
  background-color:#0072DD;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}
 /* recent_posts style  */
 .recent_posts li{
  list-style: none;
  line-height: 30px;
  margin-top: 10px;

 }
 .recent_post_link{
  text-decoration: none;
  color:black;
  font-weight: 500;
 }

 .left_side {
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: thin;
}

.left_side::-webkit-scrollbar {
  width: 0;
}

.right_side {
  position: sticky;
  top: 0;
}

@media (max-width: 768px) {
  .blog_main_container {
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
    margin: 140px 20px;
  }

  .catagory_nav_menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .catagory_nav_menu ul li:not(:first-child) {
    margin: 7px 0;
  }
  .catagory_nav_menu ul li {
    padding: 5px;
  }
  .form_control_textarea{
    width: 100%;
   
  }
  .archive_top_container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
  }
  .archive_container {
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
  }
}
